{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Merci de vous inscrire </h1>

    {{ form_start(registerForm) }}
    {{ form_widget(registerForm) }}
    <input type="submit" value="Valider" name="valider">
    {{ form_end(registerForm) }}
{% endblock %}
{% block title %} Enrengistrement {% endblock %}
